

    <form class="form-horizontal" role="form" name="checkout_form">
<input type="hidden" name="checkout_token_id" value="{{id}}">

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <ul class="list-group">
      {{#each live.line_items }}
      <li class="list-group-item" data-line-item-id="{{id}}">

        <div class="row">
          <!--
          <div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
          </div>!-->
          <div class="col-xs-6" style="text-align:left;">
            <h4 class="product-name"><strong>{{ product_name }}</strong></h4><h4>
              <small>
                {{#each variants}}
                  {{option_name}}{{#if @last}}{{else}},{{/if}}
                {{/each}}
              </small>
            </h4>
          </div>
          <div class="col-xs-6">
            <div class="col-xs-4">
              <input type="text" class="quantity form-control input-sm" name="line_item[{{id}}][quantity]" value="{{quantity}}" onchange="Store.checkoutVerifyQuantity($('input[name=checkout_token_id]').val(), '{{id}}', $(this).val() ) ;">
            </div>
            <div class="col-xs-6 text-right">
              <h6><strong class="line-total">{{ line_total.formatted_with_symbol }}</strong></h6>
            </div>

            <div class="col-xs-2">

            </div>
          </div>
        </div>

      </li>
      {{/each}}
    </ul>



      {{#if collects.extrafields}}
      <fieldset>

        <legend>Extrafields</legend>


        {{#each extrafields }}
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">{{name}}</label>
          <div class="col-sm-10">


            <input type="text" placeholder="" name="extrafields[{{id}}]" class="form-control">



          </div>
        </div>

        {{/each}}

      </fieldset>
      {{/if }}



      <fieldset>
        <!-- Form Name -->
        <legend>Customer Details</legend>


{{#if collects.fullname}}
        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">First Name</label>
          <div class="col-sm-4">
            <input type="text" placeholder="" class="form-control" name="customer[firstname]">
          </div>

          <label class="col-sm-2 control-label" for="textinput">Last Name</label>
          <div class="col-sm-4">
            <input type="text" placeholder="" class="form-control" name="customer[lastname]">
          </div>
        </div>
{{/if }}
        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Email</label>
          <div class="col-sm-10">
            <input type="text" placeholder="" class="form-control" name="customer[email]">
          </div>
        </div>

      </fieldset>
      {{#if collects.shipping_address}}
      <hr>
      <fieldset>
        <!-- Form Name -->
        <legend>Shipping Address</legend>


        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Name</label>
          <div class="col-sm-10">
            <input type="text" placeholder="name" class="form-control" name="shipping[name]">
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Line 1</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Address Line 1" class="form-control" name="shipping[street]">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Country</label>
          <div class="col-sm-10">
            <select class="form-control" name="shipping[country]" id="shipping-countries">

            </select>

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">City</label>
          <div class="col-sm-10">
            <input type="text" name="shipping[town_city]" placeholder="City" class="form-control">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">State</label>
          <div class="col-sm-4">
            <select class="form-control" name="shipping[county_state]" id="shipping-states">

            </select>
          </div>

          <label class="col-sm-2 control-label" for="textinput">Zip/Post Code</label>
          <div class="col-sm-4">
            <input type="text" name="shipping[postal_zip_code]" placeholder="Post Code" class="form-control" onblur="Store.checkoutVerifyTax($('input[name=checkout_token_id]').val())">
          </div>
        </div>


        <script>
        Chec.Services.localeListShippingCountries('{{id}}', function(resp){

          $('#shipping-countries').html(resp.html);

        });

        Chec.Services.localeListSubdivisions('US', function(resp){

          $('#shipping-states').html(resp.html);

        });

        </script>



      </fieldset>
      {{/if}}


            {{#if has.physical_delivery}}
            <hr>
            <fieldset>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Shipping Options</label>
                <div class="col-sm-10">
                  <select class="form-control" name="fulfillment[shipping_method]" onchange="Store.checkoutVerifyShipping($('input[name=checkout_token_id]').val(), 'US', $(this).val())">
                    <option selected disabled>Please select a shipping method</option>
                    {{#each shipping_methods}}
                      <option value="{{id}}">{{description}} - {{ price.formatted_with_symbol}}</option>
                    {{/each}}
                  </select>



                </div>
              </div>



            </fieldset>
            {{/if }}

      {{#if collects.billing_address}}
      <hr>
      <fieldset>
        <!-- Form Name -->
        <legend>Billing Address</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Line 1</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Address Line 1" class="form-control">
          </div>
        </div>


                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="textinput">Country</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="billing-countries" name="">

                    </select>
                  </div>
                </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">City</label>
          <div class="col-sm-10">
            <input type="text" placeholder="City" class="form-control">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">State</label>
          <div class="col-sm-4">
            <input type="text" placeholder="State" class="form-control">
          </div>

          <label class="col-sm-2 control-label" for="textinput">Postcode</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Post Code" class="form-control">
          </div>
        </div>


        <script>
        Chec.Services.localeListCountries(function(resp){

          $('#billing-countries').html(resp.html);

        });
        </script>

      </fieldset>
      {{/if}}

      <hr>
      <fieldset>
        <!-- Form Name -->
        <legend>Payment Details</legend>

        <input name="payment[gateway]" value="test_gateway" type="hidden">

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Card Number</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="4242 4242 4242 4242" name="payment[card][number]">
          </div>
        </div>
                <!-- Text input-->
                <div class="form-group">

                  <label class="col-sm-2 control-label" for="textinput">Expiry Date</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" name="payment[card][expires]" value="11 / 19">
                  </div>
                  <label class="col-sm-2 control-label" for="textinput">CVV</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" name="payment[card][cvc]" value="123">
                  </div>
                </div>



      </fieldset>



    </form>

    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-6" style="text-align:left;">
            <h4 class="product-name"><strong>Subtotal</strong></h4>
          </div>
          <div class="col-xs-6" style="text-align:right;">
            <h4><strong class="subtotal-amount">{{live.subtotal.formatted_with_symbol}}</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6" style="text-align:left;">
            <h4 class="product-name"><strong>Shipping</strong></h4>
          </div>
          <div class="col-xs-6" style="text-align:right;">
            <h4 class="product-name"><strong class="shipping-amount">{{live.shipping.price.formatted_with_symbol}}</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6" style="text-align:left;">
            <h4 class="product-name"><strong>Tax</strong></h4>
          </div>
          <div class="col-xs-6" style="text-align:right;">
            <h4 class="product-name"><strong class="tax-amount">{{live.tax.amount.formatted_with_symbol}}</strong></h4>
          </div>
        </div>
        <div class="row" style="background:#ddd;">
          <div class="col-xs-6" style="text-align:left;">
            <h4 class="product-name"><strong>Total</strong></h4>
          </div>
          <div class="col-xs-6" style="text-align:right;">
            <h4 class="product-name"><strong class="total-amount">{{live.total_with_tax.formatted_with_symbol}}</strong></h4>
          </div>
        </div>


      </li>
    </ul>


    <button type="button" onclick="Store.checkoutNow($('input[name=checkout_token_id]').val());"> Checkout Now </button>



  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
